<div id="<%= dom_id mass_data_point %>">
  <p>
    <strong>Recordedat:</strong>
    <%= mass_data_point.recordedAt %>
  </p>

  <p>
    <strong>Mass:</strong>
    <%= mass_data_point.mass %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= mass_data_point.unit %>
  </p>

</div>
