<h1>Editing mass data point</h1>

<%= render "form", mass_data_point: @mass_data_point %>

<br>

<div>
  <%= link_to "Show this mass data point", @mass_data_point %> |
  <%= link_to "Back to mass data points", mass_data_points_path %>
</div>
