<div id="<%= dom_id product %>">
  <p>
    <strong>Categoryid:</strong>
    <%= product.categoryId %>
  </p>

  <p>
    <strong>Productid:</strong>
    <%= product.productId %>
  </p>

  <ul>

    <% product.mass_data_points.each do |mass_data_point| %>
    <li>
        <%= render mass_data_point %>
    </li>
  <% end %>
  </ul>

</div>
